{% extends "base/base.html" %}
{% block title %}Itens da Venda{% endblock %}

{% block content %}
<h2>Itens da Venda #{{ venda.id }}</h2>

<a href="/vendas/" class="btn btn-secondary mb-3">Voltar</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Produto</th>
            <th>Qtd</th>
        </tr>
    </thead>

    <tbody>
    {% for item in itens %}
        <tr>
            <td>{{ item.produto.nome }}</td>
            <td>{{ item.quantidade }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
