{% extends "base/base.html" %}
{% block title %}Clientes{% endblock %}

{% block content %}
<h2>Clientes</h2>

<a href="/clientes/novo/" class="btn btn-success mb-3">Novo Cliente</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Pontos</th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody>
    {% for c in clientes %}
        <tr>
            <td>{{ c.nome }}</td>
            <td>{{ c.email }}</td>
            <td>{{ c.pontos }}</td>
            <td>
                <a href="/clientes/editar/{{ c.id }}/" class="btn btn-warning btn-sm">Editar</a>
                <a href="/clientes/deletar/{{ c.id }}/" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
